PATH_TO_ROOT_DOCKER_PROJ=../../
PATH_FROM_ROOT_DOCKER_PROJ=proxy/nginx/

# unfortunately i'm not sure if this can be broken into multiple lines while keeping spaces
# instead of newlines as delimiters
NGINX_CONFIG_SRC_FILES=proxy/nginx/data/* proxy/anubis/nginx/* proxy/iocaine/nginx/* services/personal_website/deployment/nginx/* services/mail_server/deployment/nginx/*
