PATH_TO_ROOT_DOCKER_PROJ=../../
PATH_FROM_ROOT_DOCKER_PROJ=proxy/nginx/

# unfortunately i'm not sure if this can be broken into multiple lines while keeping spaces
# instead of newlines as delimiters
NGINX_CONFIG_SRC_FILES=proxy/nginx/data/* proxy/anubis/nginx/* proxy/iocaine/nginx/* services/personal_website/deployment/nginx/* services/mail_server/deployment/nginx/*

# `.env` files needed for nginx template `envsubst`
ENVSUBST_ENV_FILE_1=../iocaine/.env
ENVSUBST_ENV_FILE_2=../../services/personal_website/.env
ENVSUBST_ENV_FILE_3=../../services/personal_website/deployment/anubis/.env
ENVSUBST_ENV_FILE_4=../../services/mail_server/.env
ENVSUBST_ENV_FILE_5=../../services/mail_server/deployment/anubis/.env
